/* Customize scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #8758ff; /* Set the color of the scrollbar thumb */
  border-radius: 4px; /* Add rounded corners to the thumb */
}

/* Customize scrollbar for Firefox */
/* Note: Firefox does not support styling the scrollbar itself, only the thumb */
/* This style will be applied when hovering over the scrollbar */
* {
  scrollbar-color: #8758ff transparent; /* Set the color of the scrollbar thumb */
  scrollbar-width: thin; /* Set the width of the scrollbar thumb */
}

.App {
  text-align: center;
}

body {
  background-color: #8758ff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
